<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
@{
    Layout = "_Layout";
}
<body>
   <form class="row g-3 needs-validation" action='Url.Action("Index")' novalidate>
  <div class="col-md-4">
    <label for="validationCustom01" class="form-label">Username</label>
    <input type="text" class="form-control" id="validationCustom01" value="user actual" required>
  </div>
  <div class="col-md-4">
    <label for="validationCustom02" class="form-label">Instagram</label>
    <input type="text" class="form-control" id="validationCustom02" value="ig actual" required>
  </div>
  <div class="col-md-4">
    <label for="validationCustom02" class="form-label">Twitter</label>
    <input type="text" class="form-control" id="validationCustom02" value="tw actual" required>
  </div>
  <div class="col-md-6">
    <label for="validationCustom03" class="form-label">Descripcion</label>
    <input type="text" class="form-control" id="validationCustom03" value="Añadir descripcion" required>
  </div>
  <div class="col-12">
    <button class="btn btn-primary" type="submit">Guardar</button>
  </div>
</form>
</body>