<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous"> 
    @{
    Layout = "_Layout";
    }   
</head>
<style>
.perfil-container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    display: grid;
    gap: 20px;
    background-color: #fff; 
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.pfp {
    width: 200px; 
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #405664; 
}


.nombre-redes {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nombre-redes h1 {
    font-size: 30px; 
    color: #333; 
}

.nombre-redes span img {
    width: 24px; 
    height: 24px;
    margin-right: 5px; 
    cursor: pointer;
    transition: transform 0.3s; 
}

.nombre-redes span img:hover {
    transform: scale(1.2); 
}

.canciones {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.canciones img {
    width: 500px; 
    height: 500px;
    border-radius: 8px; 
    object-fit: cover;
}

.canciones h3 {
    font-size: 18px; 
    color: #555; 
    margin: 0; 
}

.descripcion {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card {
    position: relative;
    border: none;
    overflow: hidden;
    border-radius: 8px;
}

.card-img {
    border-radius: 8px; 
    transition: transform 0.3s; 
}

.card-img-overlay {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 8px;
}

.card-title {
    font-size: 18px; 
    margin: 0;
}

.card-img:hover {
    transform: scale(1.05); 
}

.btn-modal{
    background-color: #e27fd5;
}
</style>
<body>
    <div class="perfil-container">
       <img src="/@ViewBag.Arti.fotoArtista" alt="Foto del artista" class = "pfp">
        <div class="nombre-redes">
            <h1>@ViewBag.Arti.nombre</h1>
            <span><a href="https://instagram.com/@ViewBag.Arti.instagram"><img src="/img/redes/ig.jpg" alt="img ig"></a></span>
            <span><a href="https://twitter.com/@ViewBag.Arti.twitter"><img src="/img/redes/tw.jpg" alt="img tw"></a></span>
        </div>
       <div class="canciones">
            @foreach (Canciones can in ViewBag.listaCanciones)
            {
                if(ViewBag.Arti.IdArtista == can.IdArtista){
                    <a href='@Url.Action("Cancion", new {idCan = can.IdCancion})'><img src="/@can.fotoCancion" alt="Foto cancion"></a>
                    <h3>@can.nombreCancion</h3>
                }
            }
        </div>
    <button type="button" class="btn-modal" data-bs-toggle="modal" data-bs-target="#MostrarDescripcion" onclick="MostrarDescripcion(@ViewBag.Arti.IdArtista)">Ver Info Artista</button>
    <div class="modal" tabindex="-1" id = "MostrarDescripcion">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id = "NombreArtista"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div id = "FotoDescripcion"></div>
                    <div id = "Descripcion"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</body>