
CREATE TABLE [dbo].[Albumes](
	[IdAlbum] [int] NOT NULL,
	[NombreAlbum] [varchar](50) NOT NULL,
	[FotoAlbum] [varchar](50) NOT NULL,
	[IdArtista] [int] NOT NULL,
 CONSTRAINT [PK_Albumes] PRIMARY KEY CLUSTERED 
(
	[IdAlbum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Artistas]    Script Date: 19/4/2024 10:36:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Artistas](
	[IdArtista] [int] NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Descripcion] [varchar](500) NOT NULL,
	[FotoArtista] [varchar](2000) NOT NULL,
	[FotoDescrpcion] [varchar](2000) NOT NULL,
	[Instagram] [varchar](50) NULL,
	[Twitter] [varchar](50) NULL,
 CONSTRAINT [PK_Artistas] PRIMARY KEY CLUSTERED 
(
	[IdArtista] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Canciones]    Script Date: 19/4/2024 10:36:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Canciones](
	[IdCancion] [int] NOT NULL,
	[NombreCancion] [varchar](500) NOT NULL,
	[Audio] [varchar](1000) NOT NULL,
	[FotoCancion] [varchar](500) NOT NULL,
	[IdArtista] [int] NOT NULL,
	[IdAlbum] [int] NULL,
 CONSTRAINT [PK_Canciones] PRIMARY KEY CLUSTERED 
(
	[IdCancion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 19/4/2024 10:36:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[IdUsuario] [int] IDENTITY(1,1) NOT NULL,
	[NombreUsuario] [varchar](50) NOT NULL,
	[Contrasenia] [varchar](50) NOT NULL,
	[FechaNacimiento] [date] NOT NULL,
	[Mail] [varchar](50) NOT NULL,
	[FotoUsuario] [varchar](50) NULL,
	[Descripcion] [varchar](50) NULL,
	[Instagram] [varchar](50) NULL,
	[Twitter] [varchar](50) NULL,
 CONSTRAINT [PK_Usuarios] PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Albumes] ([IdAlbum], [NombreAlbum], [FotoAlbum], [IdArtista]) VALUES (1, N'RadioDe2Pac', N'img\FotoAlbum\HipHop.png', 7)
INSERT [dbo].[Albumes] ([IdAlbum], [NombreAlbum], [FotoAlbum], [IdArtista]) VALUES (2, N'RadioDeBadBunny', N'img\FotoAlbum\Reggaeton.jpeg', 4)
INSERT [dbo].[Albumes] ([IdAlbum], [NombreAlbum], [FotoAlbum], [IdArtista]) VALUES (3, N'RadioDeLedZeppelin', N'img\FotoAlbum\Rock.jpg', 11)
GO
INSERT [dbo].[Artistas] ([IdArtista], [Nombre], [Descripcion], [FotoArtista], [FotoDescrpcion], [Instagram], [Twitter]) VALUES (1, N'Tyga', N'Michael Ray Nguyen-Stevenson, más conocido como Tyga, es un rapero estadounidense. Es dueño de la compañía Last Kings. Su nombre artístico proviene del acrónimo Thank You God Always', N'img\FotosArtistas\Tyga_Img.jpg', N'img\FotosArtistas\Tyga_Desc.jfif', N'https://www.instagram.com/tyga', N'https://twitter.com/Tyga/with_replies')
INSERT [dbo].[Artistas] ([IdArtista], [Nombre], [Descripcion], [FotoArtista], [FotoDescrpcion], [Instagram], [Twitter]) VALUES (2, N'Drake', N'Aubrey Drake Graham, conocido simplemente como Drake, es un rapero, cantante, compositor, productor discográfico y actor canadiense. Una figura influyente en la música popular contemporánea, Drake ha sido acreditado por popularizar el canto y la sensibilidad del R&B en el hip hop.', N'img\FotosArtistas\Drake_Img.jfif', N'img\FotosArtistas\Drake_Desc.jpg', N'https://www.instagram.com/champagnepapi', N'https://twitter.com/Drake')
INSERT [dbo].[Artistas] ([IdArtista], [Nombre], [Descripcion], [FotoArtista], [FotoDescrpcion], [Instagram], [Twitter]) VALUES (3, N'Cardi B', N'Belcalis Marlenis Almánzar, más conocida por su nombre artístico Cardi B, es una cantante, rapera, compositora, actriz y empresaria estadounidense.', N'img\FotosArtistas\CardiB_Img.jpg', N'img\FotosArtistas\CardiB_Desc.jpg', N'https://www.instagram.com/iamcardib', N'https://twitter.com/iamcardib')
GO
INSERT [dbo].[Canciones] ([IdCancion], [NombreCancion], [Audio], [FotoCancion], [IdArtista], [IdAlbum]) VALUES (1, N'Apeshit', N'audio\rap\Beyonce & JAY-Z - Apeshit (Lyrics) ft. The Carters.mp3', N'img\FotoCancion\Apeshit.jpg', 5, NULL)
INSERT [dbo].[Canciones] ([IdCancion], [NombreCancion], [Audio], [FotoCancion], [IdArtista], [IdAlbum]) VALUES (2, N'Big Poppa (2007 Remaster)', N'audio\rap\Big Poppa (2007 Remaster).mp3', N'img\FotoCancion\Big Poppa (Remaster 2007).jpg', 8, NULL)
INSERT [dbo].[Canciones] ([IdCancion], [NombreCancion], [Audio], [FotoCancion], [IdArtista], [IdAlbum]) VALUES (3, N'California Love (Original Version)', N'audio\rap\California Love (Original Version).mp3', N'img\FotoCancion\California Love.jpg', 7, 1)
GO
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([IdUsuario], [NombreUsuario], [Contrasenia], [FechaNacimiento], [Mail], [FotoUsuario], [Descripcion], [Instagram], [Twitter]) VALUES (1, N'chino', N'contra', CAST(N'2007-03-12' AS Date), N'felipeblaustein@gmail.com', NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
GO
ALTER TABLE [dbo].[Albumes]  WITH CHECK ADD  CONSTRAINT [FK_Albumes_Artistas] FOREIGN KEY([IdArtista])
REFERENCES [dbo].[Artistas] ([IdArtista])
GO
ALTER TABLE [dbo].[Albumes] CHECK CONSTRAINT [FK_Albumes_Artistas]
GO
ALTER TABLE [dbo].[Canciones]  WITH CHECK ADD  CONSTRAINT [FK_Canciones_Albumes] FOREIGN KEY([IdAlbum])
REFERENCES [dbo].[Albumes] ([IdAlbum])
GO
ALTER TABLE [dbo].[Canciones] CHECK CONSTRAINT [FK_Canciones_Albumes]
GO
ALTER TABLE [dbo].[Canciones]  WITH CHECK ADD  CONSTRAINT [FK_Canciones_Artistas] FOREIGN KEY([IdArtista])
REFERENCES [dbo].[Artistas] ([IdArtista])
GO
ALTER TABLE [dbo].[Canciones] CHECK CONSTRAINT [FK_Canciones_Artistas]
GO
/****** Object:  StoredProcedure [dbo].[sp_CrearUsuario]    Script Date: 19/4/2024 10:36:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_CrearUsuario]
@Usuario varchar(50), @Email varchar(50), @FechaNacimiento Date, @Contra varchar(50)
AS
BEGIN
INSERT INTO Usuarios(NombreUsuario, Mail, FechaNacimiento, Contrasenia) VALUES(@Usuario, @Email, @FechaNacimiento, @Contra)
END
GO
USE [master]
GO
